apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: systems-auth
  name: ns-auth-deployer
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list", "watch"]

  - apiGroups: ["apps"]
    resources: ["deployments", "replicasets"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
